
<div class="rcm-google-analytics"
     ng-controller="rcmGoogleAnalyticsAdminController as self" ng-cloak="true">

    <div class="loading" ng-show="self.loading">
        <div class="loading-container">
            <div class="loading-content">
                <span class="loading-indicator"></span>
                <span class="loading-message">{{"Loading" | translate}}</span>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" role="alert" ng-show="self.error">
        {{self.error.message}}
    </div>

    <div ng-show="self.hasAccess">
        <div>
            <form>
                <br>
                <div class="form-group">
                    <label for="trackingId"><h3>{{"Google Analytics Tracking Id" | translate}}</h3></label>
                    <p>
                        {{'This is a code that starts with "UA-". One way to get this is to look at the source code that google tells you to put on your website. Inside it you will see "UA-something" in quotes. Copy and paste that here.' | translate}}
                    </p>
                    <input type="text"
                           class="form-control"
                           id="trackingId"
                           placeholder="UA-000000-01"
                           ng-disabled="self.loading"
                           ng-model="self.analyticSettings.trackingId">
                </div>
                <br><br>
                <div class="form-group">
                    <label for="verificationCode"><h3>{{"Google Analytics Verification Code" | translate}}</h3></label>
                    <p>
                        {{'For site verification google tells you to download a file and upload it to your website. Look at the file google says to upload to your website. If the file google wants you to upload to your site is named google897453eca4006f4b.html, you would enter 897453eca4006f4b in this form field.' | translate}}
                    </p>
                    <input type="text"
                           class="form-control"
                           id="verificationCode"
                           placeholder=""
                           ng-disabled="self.loading"
                           ng-model="self.analyticSettings.verificationCode">
                </div>
                <br><br>
                <button type="button"
                        class="btn btn-primary"
                        ng-disabled="self.loading"
                        ng-click="self.saveAnalyticSettings()">
                    {{"Submit" | translate}}
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-click="self.deleteAnalyticSettings()"
                        ng-disabled="self.loading"
                        ng-hide="self.isNewAnalyticSettings">
                    {{"Remove" | translate}}
                </button>
            </form>
        </div>
    </div>
</div>
