
<div class="rcm-google-analytics"
     ng-controller="rcmGoogleAnalyticsAdminController as self" ng-cloak="true">

    <link href="/modules/rcm-google-analytics/css/styles.css" rel="stylesheet" type="text/css" />

    <div class="loading" ng-show="self.loading">
        <div class="loading-container">
            <div class="loading-content">
                <span class="loading-indicator"></span>
                <span class="loading-message">{{self.translations["Loading"]}}</span>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" role="alert" ng-show="self.error">
        {{self.error.message}}
    </div>

    <div ng-show="self.hasAccess">
        <div>
            <form>
                <div class="form-group">
                    <label for="trackingId">{{self.translations["Google Analytics Tracking Id"]}}</label>
                    <input type="text"
                           class="form-control"
                           id="trackingId"
                           placeholder="UA-000000-01"
                           ng-disabled="self.loading"
                           ng-model="self.analyticSettings.trackingId">
                </div>
                <button type="button"
                        class="btn btn-primary"
                        ng-disabled="!self.analyticSettings.trackingId || self.loading"
                        ng-click="self.saveAnalyticSettings()">
                    {{self.translations["Submit"]}}
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-click="self.deleteAnalyticSettings()"
                        ng-disabled="self.loading"
                        ng-hide="self.isNewAnalyticSettings">
                    {{self.translations["Remove"]}}
                </button>
            </form>
        </div>
    </div>
</div>
